.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .App{
      display: flex;
      flex-direction:row;
      /* flex-wrap:wrap; */
      /* justify-content: space-evenly;
      align-items: stretch; */
  }
  .operators{

  }
  .numbers{

  }
  .specials{
  }


.btnNum{
    background:navy;
    font-size: 16px;
    color:white;
    height:50px;
    width:50px;
    border-radius:50%;
}
.btnOp{
    background:lightcyan;
    font-size: 16px;
    color:black;
    height:50px;
    width:50px;
    border-radius:50%;
}
.btnSpec{
    background:blue;
    font-size: 16px;
    color:white;
    height:50px;
    width:50px;
    border-radius:50%;
}
