.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .sectionLogo{
      padding-top:20px;
      padding-left:35px;
  }
  .sectionDisplay{
      display: flex;
      justify-content: center;
  }

  .App{
      /* display:flex;
      flex-direction:column; */
  }

  .sectionOperators{
    border:1px solid black;
    display: flex;
    /* flex-direction:row; */
    justify-content: center;
    width:500px;
    height:75px;
  }

  .containerOperators{
    border:1px solid purple;
  }









.btnNum{
    background:navy;
    font-size: 16px;
    color:white;
    height:50px;
    width:50px;
    border-radius:50%;
}
.btnOp{
    background:white;
    font-size: 16px;
    color:black;
    height:50px;
    width:50px;
    border-radius:50%;
}
.btnSpecial{
    background:blue;
    font-size: 16px;
    color:white;
    height:50px;
    width:50px;
    border-radius:50%;
}
